<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<title>Sigrie is under maintenance</title>
<style type="text/css">
body {
	background: #1d1d1d url(http://db.mmo-champion.com/static/img/bg.jpg);
	text-align: center;
	font-family: Verdana;
	font-size: 13px;
	color: white;
}
p {
	width: 800px;
	margin: 30px auto;
	text-align: center;
}
h2 {
	background: transparent url(http://db.mmo-champion.com/static/img/logo-150.png) no-repeat center 75px;
	color: #0dd000;
	font-size: 1.5em;
	padding: 20px 0px 200px;
}
</style>
</head>
<body id="sigrie-maintenance">
<h2>The database is undergoing maintenance.</h2>
<p>You know what? I'll never drink coffee in the server room again.</p>
<p>Stay cool, we'll be back in a bit!</p>
